{% extends 'xBlog/base.html' %}
{% block content %}
    <div class="container-fluid well" id="resume">
        <div id="resume_head" class="row-fluid">
            <div class="span4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">大鹌鹑</h3>
                    </div>
                    <div class="panel-body">
                        Pythoner
                    </div>
                </div>
            </div>
            <div class="span8">
                <ul class="nav nav-tabs">
                    <li id='l0' class="active"><a href="#resume">简历</a></li>
                    <li id='l1'><a href="#about_me">关于我</a></li>
                    <li id='l2'><a href="#school">教育经历</a></li>
                    <li id='l3'><a href="#work">工作经历</a></li>
                    <li id='l4'><a href="#project">项目经历</a></li>
                    <li id='l5'><a href="#skill">技能</a></li>
                    <li id='l6'><a href="#life">生活</a></li>
                </ul>
            </div>
        </div>

        <div id="about_me" class="row-fluid">
            <div class="span12 well">
                <div class="span2">
                    <span class="button-wrap">
                        <a href="javascript:void(0)" class="button button-circle button-primary"
                           style="text-decoration:none;">
                            <i class="icon-user"></i> 关于我
                        </a>
                    </span>
                </div>
                <div class="span10">
                    <div class="span3">
                        <div class="img-polaroid">
                            <img src="http://ww1.sinaimg.cn/bmiddle/67ac78cfjw1dx364jvbf2j.jpg"/>
                        </div>
                        <div style="margin-top:8px;" align="center" class="sns">
                            <a href="https://github.com/axiaoxin" target="_blank"
                               style="text-decoration:none;color:gray;">
                                <i class="icon-github-alt" title="Github"></i>
                            </a>
                            <a href="http://weibo.com/minisnakeashin/" target="_blank"
                               style="text-decoration:none;color:gray;">
                                <i class="icon-weibo" title="微博"></i>
                            </a>
                            <a href="http://sighttp.qq.com/msgrd?v=3&uin=254606826&site=qq&menu=yes" target="_blank"
                               style="text-decoration:none;color:gray;">
                                <i class="icon-linux" title="QQ"></i>
                            </a>
                            <a href="&#109;ailto&#58;%&#51;254&#54;0%3&#54;%38%32&#54;&#64;qq&#46;com" target="_blank"
                               style="text-decoration:none;color:gray;">
                                <i class="icon-envelope" title="邮箱"></i>
                            </a>
                        </div>
                    </div>
                    <div class="span9" style="word-wrap:break-word;">
                        <div class="alert alert-info">
                            一个对IT技术充满激情，喜欢折腾的Python程序猿。</br>
                            踏实，勤奋，工作负责，为人诚实正直，很好相处。</br>
                            虽然从高三开始就学习Python，并一直使用Python进行编程开发，<br>
                            但深知自己还需要学习的还有很多。</br>
                            在大学里，经过四年软件工程（本科）专业的学习，</br>
                            使我对计算机又有了更深的认识和理解。</br>
                            可以熟练的在Linux/OSX下使用使用Vim进行各类Python开发，</br>
                            会写点简单的前端页面，喜欢尝试各种有趣的东西。</br>
                            对自己的目标是成为一位真正的全栈工程师。</br>
                            Github：https://github.com/axiaoxin </br>
                        </div>
                        <div align="center">
                            <a class="button button-border-primary"
                               href="&#109;ailto&#58;254&#54;0&#54;82&#54;&#64;qq&#46;com" target="_blank"
                               style="text-decoration:none;color:gray;">
                                <i class="icon-envelope"></i>254&#54;0&#54;82&#54;&#64;qq&#46;com
                            </a>
                            <a id="phonetip" class="button button-border-primary" href="javascript:void(0)"
                               style="text-decoration:none;color:gray;" rel="tooltip"
                               data-original-title="(成都)&#49;8&#48;40&#51;0321&#48">
                                <i class="icon-phone-sign"></i>(上海)189&#49;6&#48;&#51;5&#52;54
                            </a>
                            <a class="button button-border-primary" href="javascript:void(0)"
                               style="text-decoration:none;color:gray;">
                                <i class="icon-map-marker"></i>四川乐山（现居上海）
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="school" class="row-fluid">
            <div class="span12 well">
                <div class="span2">
                    <span class="button-wrap">
                        <a style="text-decoration:none;" href="javascript:void(0)"
                           class="button button-circle button-action">
                            <i class="icon-book"></i> 教育经历
                        </a>
                    </span>
                </div>
                <div class="span10">
                    <div class="alert alert-success">
                        <a style="text-decoration:none;" class="button button-block button-action"
                           href="http://www.cuit.edu.cn" target="_blank">成都信息工程学院</a>
                        <a style="text-decoration:none;" class="button button-block button-action">2010 - 2014</a>
                        <a style="text-decoration:none;" class="button button-block button-action"
                           href="http://software.cuit.edu.cn/" target="_blank">软件工程（本科）</a>
                        <a style="text-decoration:none;" class="button button-block button-action">CET4</a>
                        <a style="text-decoration:none;" class="button button-block button-action"
                           href="http://weibo.com/sycloversyc" target="_blank">三叶草安全技术小组</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="work" class="row-fluid">
            <div class="span12 well">
                <div class="span2">
                    <span class="button-wrap">
                        <a href="javascript:void(0)" class="button button-circle button-highlight"
                           style="text-decoration:none;">
                            <i class="icon-group"></i> 工作经历
                        </a>
                    </span>
                </div>
                <div class="span10">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="http://bosonnlp.com" target="_blank">拉扎斯网络科技(上海)有限公司</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            2015.03 - 至今</br>
                            Python后端工程师</br>
                            在饿了么物流研发部先后负责饿了么自营配送和蜂鸟众包业务的Python后端开发工作。
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="http://bosonnlp.com" target="_blank">上海玻森数据科技有限公司</a></h3>
                        </div>
                        <div class="panel-body">
                            2013.10 - 2015.03</br>
                            Python后端工程师</br>
                            玻森数据是一家成长中的创业公司，主要业务是数据分析和BosonNLP API。</br>
                            作为主程序员之一，几乎接触了各个项目开发的整个流程，不仅负责项目设计、开发，也接触了部署、运维等相关工作。</br>
                            工作期间独立负责玻森数据官方网站、玻森数据标注平台、标注分词检测工具、API请求结果到Excle通用框架、微信公众帐号等各类工具与平台的设计与开发。</br>
                            同时也参与到其他项目中配合同事完成各类开发、调研任务。
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="http://www.codoon.com" target="_blank">成都乐动信息技术有限公司（实习）</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            2013.07 - 2013.08<br>
                            实习Django web工程师</br>
                            工作期间完成了咕咚网定时刷新社交账号的accesstoken脚本，</br>
                            了解学习咕咚网架构和源码</br>
                            调研在Linux下使用supervisor、rsyslog和sentry搭建日志管理器，</br>
                            编写测试报告，查找咕咚网逻辑漏洞和xss漏洞等等。
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="project" class="row-fluid">
            <div class="span12 well">
                <div class="span2">
            <span class="button-wrap">
                <a href="javascript:void(0)" class="button button-circle button-caution" style="text-decoration:none;">
                    <i class="icon-trophy"></i> 部分个人完成的项目
                </a>
            </span>
                </div>
                <div class="span10">

                    <div class="row-fluid">
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="https://github.com/axiaoxin/geek" target="_blank">CUIT信息安全大赛答题平台</a>
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                该答题平台是为学校信息安全大赛提供在线答题和比赛交流而设计、开发。</br>
                                开发框架为Django，平台分为用户、答题和论坛三个模块，</br>
                                用户需注册、邮件激活账户才能登录，可通过邮箱重置密码，修改资料等。</br>
                                后台可查看定制显示的答题信息，可以使用练习模式，放题控制等，</br>
                                论坛支持无限分区、分版块，模仿微博提示新回复等。
                            </div>
                        </div>
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="http://cet46.axiaoxin.com"
                                                           target="_blank">四六级免准考证号查分</a>
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                该程序可以在忘记准考证号时，只提供姓名、学校名和考试类型就可以查到成绩，</br>
                                开发框架为Flask，最初采用客户端形式，支持微博分享功能。</br>
                                目前通过队列系统采用web方式暴力查询。用户可以注册成为会员，每天可以免费查询一次成绩，</br>
                                也可以选择通过支付宝付款成为VIP用户，可以享受优先查询和每天可以查询5次的特权。
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="#">阿小信的博客</a></h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                正是您正在访问的博客http://axiaoxin.com，开发框架为Django</br>
                                博客发表文章可通过验证问答发布为私密文章，只有正确回答问题的游客才能浏览，</br>
                                发表文章时可选择是否同步微博，使用图片剪报的形式同步到个人微博，</br>
                                利用localStorage保存临时草稿，用户意外发生没有保存文章时的恢复，</br>
                                可置顶文章，可以将文章设置为草稿，可显示在线用户等，</br>
                                博客图片采用外链形式，以七牛云存储实现了一个通用的图片上传插件，</br>
                                在博客后台上传图片后，会返回加上水印后的图片链接，通过zeroclipboard方便的作为markdown链接复制到剪切板。
                            </div>
                        </div>
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="http://weibo.com/CUITClock"
                                                           target="_blank">成信钟楼微博机器人</a>
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                成信钟楼的主要功能是利用SAE云平台作为服务器利用SAE Cron和新浪微博API进行定时微博报时，</br>
                                开发框架为Django，报时内容为 当前时间 + 拟声词 + 时间图片，来源信息为各类第三方客户端</br>
                                微博内容或评论内容为【@成信钟楼 [城市]天气】可预报天气，</br>
                                微博内容为【@成信钟楼 [任意内容]】，会对该条微博进行替换后回复给评论者，</br>
                                微博回复成信钟楼任意内容，会对内容进行替换后回复给评论者，</br>
                                在其他微博评论中直接@成信钟楼，会对该微博进行替换后回复给评论者。</br>
                                并结合boson api实现智能回复评论。
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="http://tag17.bosondata.net"
                                                           target="_blank">Tag17标注平台</a>
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                Tag17是为机器学习收集有效标注语料的平台，开发框架为Flask。</br>
                                使用sqlite3保存用户注册信息，redis保存需要被标注的文本，redis作为消息队列</br>
                                支持多种类型的标注任务，如单选、多选、鼠标划词、关系标注、分词检测等，并将各题型通过封装抽象为插件形式，便于拓展，采用F1Score判断用户的正确率，</br>
                                使用命令行工具便捷的导入和导出数据，导出数据时可备份数据库、生成支付宝批量付款模板等</br>
                                付款模板生成是可根据用户的正确率进行金额打折等。
                            </div>
                        </div>
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="http://www.bosondata.com.cn" target="_blank">玻森数据官网</a>
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                玻森数据(Boson Data) 是一家拥有核心人工智能技术的大数据公司，</br>
                                专注于网络信息采集、数据挖掘、搜索引擎核心技术、自然语言处理等领域的科学研究与软件应用开发的互联网技术企业。</br>
                                网站使用Flask作为开发框架，前端采用bootstrap、jquery等实现。
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title">成信钟楼微信公众号</h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                使用Django开发，支持天气预报查询，音乐点播，历史上的今天，测试前世职业，查询快递等</br>
                                微信号：cuit-clock。
                            </div>
                        </div>
                        <div class="panel panel-danger span6">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="http://mbti.axiaoxin.com"
                                                           target="_blank">MBTI职业性格在线测试</a>
                                </h3>
                            </div>
                            <div class="panel-body" style="text-align:left;padding:10px;">
                                使用Flask开发，用于在线进行MBTI职业性格测试</br>
                                前端特效丰富，欢迎品尝：http://mbti.axiaoxin.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="skill" class="row-fluid">
            <div class="span12 well">
                <div class="span2">
            <span class="button-wrap">
                <a href="javascript:void(0)" class="button button-circle button-royal" style="text-decoration:none;">
                    <i class="icon-wrench"></i> 技能
                </a>
            </span>
                </div>
                <div class="span10">
                    <div class="panel panel-info span6">
                        <div class="panel-heading">
                            <h3 class="panel-title">编程</h3>
                        </div>
                        <div class="panel-body" style="text-align:left;padding:10px;">
                            <div class="progress">
                                <div class="bar bar-info" style="width: 90%">Python</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 86%">Django</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 85%">Flask</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 77%">Redis</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 85%">HTML</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 69%">jQuery</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 69%">CSS</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info span6">
                        <div class="panel-heading">
                            <h3 class="panel-title">工具</h3>
                        </div>
                        <div class="panel-body" style="text-align:left;padding:10px;">
                            <div class="progress">
                                <div class="bar bar-info" style="width: 85%">VIM</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 79%">Git</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 78%">Linux/Mac OS X</div>
                            </div>
                            <div class="progress">
                                <div class="bar bar-info" style="width: 83%">Markdown</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="life" class="row-fluid">
                <div class="span12 well">
                    <div class="span2">
            <span class="button-wrap">
                <a href="javascript:void(0)" class="button button-circle" style="text-decoration:none;">
                    <i class="icon-camera"></i> 生活
                </a>
            </span>
                    </div>
                    <div class="span10">
                        <div style="margin-top:20px;" align="center">
                            <a href="http://weibo.com/u/1739356367?s=6uyXnP" target="_blank"><img border="0"
                                                                                                  src="http://service.t.sina.com.cn/widget/qmd/1739356367/fab8d67b/1.png"/></a>
                        </div>
                        <div style="margin-top:20px;" align="center">
                            <a href="http://blogstaticfiles.qiniudn.com/static/resume/python_web_engineer_resume.pdf"
                               class="button button-3d-primary button-pill">PDF简历下载</a>
                            <a href="http://blogstaticfiles.qiniudn.com/static/resume/python_web_engineer_resume.docx"
                               class="button button-3d-action button-pill">DOC简历下载</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#phonetip').tooltip();
            $('#idblog').addClass('animated hinge');
            setTimeout(function () {
                $('#idblog').removeClass('hinge').addClass('rotateInDownRight');
                $('#idblog>a:first').text('大鹌鹑的简历');
            }, 2500);
            setTimeout(function () {
                $('#idblog').removeClass('rotateInDownRight').addClass("flash");
            }, 4000);
        });
    </script>
{% endblock %}